* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    color: white;
    overflow: hidden;
    background: black;
  }
  
  /* FUNDO */
  .video-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
  }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
  }
  
  /* CENTRO */
  .hero {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .profile {
    text-align: center;
  }
  
  /* AVATAR */
  .avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* TEXTO */
  .main-name {
    font-size: 2.5rem;
  }
  
  .subtitle {
    opacity: 0.7;
    margin-bottom: 20px;
  }
  
  /* LINKS */
  .social {
    margin-bottom: 20px;
  }
  
  .social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  /* PLAYER */
  .player {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255,255,255,0.1);
    padding: 12px;
    border-radius: 20px;
    width: 320px;
    margin: auto;
  }
  
  .cover {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  
  .info {
    flex: 1;
    text-align: left;
  }
  
  .info span {
    font-size: 0.8rem;
    opacity: 0.7;
  }
  
  /* PROGRESS */
  .progress-area {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  #progress {
    flex: 1;
  }
  
  /* BOTÃO */
  #playBtn {
    border: none;
    background: white;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* ENTER */
  .enter-screen {
    position: fixed;
    inset: 0;
    background: black;
    display: grid;
    place-items: center;
    z-index: 10;
  }
  
  .enter-screen.hide {
    display: none;
  }
